#stats-container {
    position: absolute;
    top: 5px;
    right: 10px;
}

#db-btn-container {
    position: absolute;
    top: 5px;
    left: 10px;
}

#db-btn-container button {
    padding-top: 3px;
    padding-bottom: 3px;
}

#db-btn-container span {
    margin-left: 20px;
}

#stats-container table th {
    padding-right: 30px;
}

#grid-container table tbody td,
#grid-container table thead td {
    padding-right: 30px;
}

#grid-container {
    margin-top: 100px;
}

#grid-container table {
    width: 100%;
    border: collapse;
}

#grid-container table td {
    padding: 0px 5px 0px 5px;
}

#grid-container table thead td {
    border: 0px;
    background: #3498db;
    color: #fff;
}

.page-btn {
    background: none;
    padding: 0px;
    border: 0px;
    font-size: 18px;
    font-weight: bold;
}

#grid-container tr:nth-child(even) {background: #e0effa}
#grid-container tr:nth-child(odd) {background: #FFF}

#grid-container input {
    border: 0px;
    background: none;
    outline: none;
}

#grid-container thead input {
    border: 0px;
    background: none;
    outline: none;
    color: #ffffff;
    font-style: italic;
}

    input::-webkit-input-placeholder {
    color: #ffffff !important;
    }

    input:-moz-placeholder { /* Firefox 18- */
    color: #ffffff !important;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff !important;
    }

    input:-ms-input-placeholder {
    color: #ffffff !important;
    }

#grid-container table a {
    visibility: hidden;
    background: none;
    color: white;
    padding: 0px;
    border: 0px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#grid-container tbody tr:hover {
    background: #2ecc71;
    color: #ffffff;
}

#grid-container tbody tr:hover a {
    visibility: visible;
}

button {
    outline: none;
}
